@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$white: #F5F7FF;
$gray: #E9EBF4;
$gray2: #DADCEA;
$whiteGreen: #DEFCDD;
$green: #44D77F;
$black: #010516;

$font: "Nunito", sans-serif;
$light: 300;
$regular: 400;
$bold: 700;