@use "utils/variables" as var;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    height: 100vh;
    background-color: var.$gray;
    font-family: var.$font;
}