@use "utils/variables" as var;
@use "utils/mixins" as mix;

.overview-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: var.$white;
    padding: 35px;

    &__logo {
        width: 184px;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 310px;
        margin-top: 50px;
        row-gap: 35px;

        .city-input-form {
            display: flex;
            column-gap: 1px;

            .input-field {
                width: 220px;
                height: 50px;
                border: none;
                background-color: var.$gray;
                border-radius: 100px 0px 0px 100px;
                outline: none;
                padding: 0px 15px;
                font-family: var.$font;
                font-size: 14px;
                font-weight: var.$regular;
                color: var.$black;

                &::placeholder {
                    color: var.$black;
                    font-weight: var.$light;
                }
            }

            .search-btn {
                width: 90px;
                height: 50px;
                background-color: var.$gray;
                border-radius: 0px 100px 100px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 150ms;
                cursor: pointer;

                &:hover {
                    background-color: var.$gray2;
                }
            }
        }

        .city-template {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            background-color: var.$green;
            border-radius: 20px;
            color: var.$white;
            font-size: 24px;
            font-weight: var.$bold;
        }

        .day-time-text {
            font-size: 20px;
            font-weight: var.$bold;
            color: var.$black;

            .time-text {
                color: var.$gray2;
            }
        }

        .weather-image {
            width: 244px;
            background-color: var.$green;
            border-radius: 20px;
        }

        .temp-text {
            font-size: 64px;
            font-weight: var.$bold;
            color: var.$black;
        }

        .weather-description-text {
            font-size: 20px;
            font-weight: var.$regular;
            color: var.$black;
        }
    }
}

@include mix.breakpoint(s) {
    .overview-section {

        &__container {
            width: 410px;

            .city-input-form {

                .input-field {
                    width: 310px;
                }

                .search-btn {
                    width: 100px;
                }
            }

            .city-template {
                height: 100px;
            }
        }
    }
}

@include mix.breakpoint(l) {
    .overview-section {
        align-items: start;
        width: 380px;
        height: 100vh;

        &__container {
            align-items: start;
            width: 310px;

            .city-input-form {

                .input-field {
                    width: 220px;
                }

                .search-btn {
                    width: 90px;
                }
            }

            .weather-image {
                width: 210px;
            }
        }
    }
}

@include mix.breakpoint(xl) {
    .overview-section {

        &__container {
            width: 310px;

            .weather-image {
                width: 310px;
            }
        }
    }
}